<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
          https://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>github</id>
            <username>Dhanushgowda10</username>
            <password>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</password>
        </server>
    </servers>

</settings>
